<!DOCTYPE html>
<html>
<head>
    <title> Multiplication tables </title>
</head>
<body>
    <div>
        <p>
            {% if num == 2 %}
                {% for i in range(1,10) %}
                    <p>{{num}} x {{i}} = {{num*i}}</br></p>
                {% endfor %}
            {% elif num == 3 %}
                {% for i in range(1,10) %}
                    <p>{{num}} x {{i}} = {{num*i}}</br></p>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</body>
</html>
